In [1]:
from selenium import webdriver

In [2]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

In [4]:
driver.get('https://www.woodlandworldwide.com/')
driver.implicitly_wait(10)

In [5]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [21]:
woodland_shoes = driver.find_elements(By.XPATH ,'//p[@class="productcardplp_productname__F8lks"]')
shoe_texts = []

for shoe_element in woodland_shoes:
    shoe_text = shoe_element.text
    shoe_texts.append(shoe_text)

print(shoe_texts)

['Grey Sneakers for Men', 'Black high-top boots for women', 'Olive/black sneakers for men', 'Sand Sports Shoe for men', 'Blue sneakers for men', 'Light purple casual sneaker for women', 'Grey/Green Sports Shoe for men', 'Navy Slip-on shoe for men', 'Navy Slip-on shoes', 'Navy Casual sneaker for men', 'Dgrey Slip-on Shoe for Men', 'Blue/Grey Sneaker for men', 'Beige sock knit sneaker', 'Grey/Pink sneakers for women', 'Green casual sneaker for women', 'Blue casual sneakers for men', 'Taupe Sports shoe for men', 'Black/Grey Sports Shoe for men', 'Olive Sneakers for men', 'Grey sneakers for men', 'Grey Sneaker for men', 'Brown Sports Shoe for men', 'Navy sneakers for men', 'Olive/Black Sneaker for men', 'White Sports Shoe for Men', 'Black Sneaker for men', 'Navy Sports Shoe for men', 'Black sneakers for Men', 'Red/Navy Sneaker for men', 'Black Slip-on shoes', 'Navy Sneaker for men', 'Navy Sports Shoe for Men', 'Grey high ankle sneakers', 'Fuchsia casual sneaker', 'Blue Sports Sneaker for Women', 'Navy Slip-on Shoe for Men', 'Navy and grey Sneakers for men', 'Lbrown/white Sports Sneaker for men', 'White Sneakers for Men', 'Camel casual shoe for men', 'Dark grey casual sneakers for men', 'Grey Sneaker for men', 'Navy /Brown Sneaker for men', 'Pink sneakers for women', 'Navy casual sneaker', 'Khaki/Camel Sports Sneaker for men', 'Grey sneakers for men', 'Navy sneaker for men', 'Black sneakers for men', 'Light grey sneakers for men', 'White Slip-on Shoes for men', 'Grey Sneaker for Men', 'Navy sneakers for Men', 'Navy Sneaker for Men', 'White Sports Shoe for women', 'Army Sneaker for men', 'Grey/Black Sneaker for men', 'Navy Sports Sneaker for men', 'Olive casual sneaker', 'Navy sneakers for men', 'Teal Sneaker for men', 'Black sneakers for men', 'Pink Slip-on shoes', 'Black casual sneaker', 'Black sneakers for men', 'Grey/orange casual sneaker for men', 'Sand Sports Shoe for men', 'Black Slip-on Shoe for Men']

In [22]:
price = driver.find_elements(By.XPATH, '//p[@class="productcardplp_productprice__jdlz6"]')


price_texts = []
for price_element in price:
    price_text = price_element.text
    price_texts.append(price_text)

print(price_texts)

['₹2995₹2021', '₹6995₹3147', '₹3795₹2049', '₹7995₹4317', '₹6995₹2250', '₹6995₹3147', '₹7995₹4317', '₹2295₹1606', '₹2995₹1617', '₹6995₹3147', '₹2795₹2096', '₹2795₹1509', '₹5995₹1350', '₹6995₹3147', '₹5995₹1350', '₹6995₹2250', '₹7995₹4317', '₹7995₹4317', '₹2495₹1871', '₹7995₹3597', '₹3595₹2696', '₹7995₹4317', '₹2895₹2316', '₹2995₹1617', '₹2795', '₹3295₹2471', '₹7995₹4317', '₹2995₹2246', '₹2895₹1563', '₹2795₹2096', '₹2995₹2396', '₹2495₹1871', '₹6995₹2250', '₹6495₹2922', '₹6495₹3507', '₹2995₹2246', '₹7495₹3372', '₹7995₹4317', '₹2995₹2021', '₹7495₹3372', '₹3295₹2636', '₹3295₹2636', '₹7995₹4317', '₹6995₹3147', '₹6995₹2700', '₹7995₹4317', '₹7495₹3372', '₹2495₹1684', '₹6995₹2250', '₹2695₹2156', '₹2295₹1549', '₹2995₹2246', '₹2795₹1886', '₹2495₹1871', '₹6495₹3507', '₹7995₹4317', '₹3695₹2956', '₹7995₹4317', '₹4995₹1800', '₹3295₹1779', '₹2195₹1536', '₹7995₹3597', '₹4995₹1350', '₹6995₹2700', '₹2795₹2236', '₹7995₹3597', '₹7995₹4317', '₹2095₹1571']

In [23]:
import pandas as pd

dataframe = pd.DataFrame({'Name': woodland_shoes , 'Price': price})
dataframe

,Name,Price
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
...,...,...
63,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
64,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
65,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
66,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
67,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...

In [24]:
import pandas as pd

# Assuming you have obtained 'woodland_shoes' and 'price' lists
# Extracting text from WebElement objects
shoe_texts = [shoe_element.text for shoe_element in woodland_shoes]
price_texts = [price_element.text for price_element in price]

# Create DataFrame
df = pd.DataFrame({'Name': shoe_texts, 'Price': price_texts})

# Print or return the DataFrame as needed
print(df)

                                  Name       Price
0                Grey Sneakers for Men  ₹2995₹2021
1       Black high-top boots for women  ₹6995₹3147
2         Olive/black sneakers for men  ₹3795₹2049
3             Sand Sports Shoe for men  ₹7995₹4317
4                Blue sneakers for men  ₹6995₹2250
..                                 ...         ...
63                Black casual sneaker  ₹6995₹2700
64              Black sneakers for men  ₹2795₹2236
65  Grey/orange casual sneaker for men  ₹7995₹3597
66            Sand Sports Shoe for men  ₹7995₹4317
67          Black Slip-on Shoe for Men  ₹2095₹1571

[68 rows x 2 columns]

In [26]:
to_csv = df.to_csv('C:\\Users\\hp\\Desktop\\shoe_woodland_1.csv')